.head-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    margin: 20px 0px;
    height: 10%;
    padding-bottom: 10px;
    border-bottom: 0.2px solid #ababab;
    box-shadow: 0px 7px 5px -5px #ababab;
}

header img {
    width: 80px;
    height: 80px;
}

.app-heading {
    width: 90%;
    font-size: 48px;
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 20px;
}

a {
    text-decoration: none;
}

.page-content {
    height: 80%;
}

.menu {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 20px 50px;
    font-family: sans-serif;
}

.menu a {
    color: #615e5e;
}

.main-image {
    position: relative;
    display: inline-block;
    padding: 20px;
    height: 500px;
}

.main-image img {
    height: 500px;
}

.main-image-text {
    background-color: white;
    padding: 0px 20px;
    color: #ababab;
    text-align: left;
    font-family: sans-serif;
}

.main-image-text h3 {
    margin-bottom: 0px;
    font-size: 150%;
}

.top-news {
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px;
    font-family: sans-serif;
}

.top-news-head {
    font-size: 20px;
    color: black;
    border-bottom: 0.4px solid #ababab;
}

.top-news-more {
    float: right;
}

.top-news-data {
    color: #797979;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 0.2px solid #ababab;
}

table {
    font-family: arial, sans-serif;
    width: 100%;
    color: #666666;
}

table td {
    padding-top: 20px;
}

.team-score {
    display: flex;
    flex-flow: row wrap;
    color: #292727;
    margin-left: 40px;
    margin-bottom: 20px;
}

.team-score-attribute {
    padding: 20px;
    color: #8f8989;
}

.city-weather {
    margin-left: 20px;
}

.city-name {
    color: #8b8888;
    font-family: sans-serif;
    padding: 20px;
}

.name {
    font-size: 20px;
    margin-bottom: -15px;
}

.weather {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-left: 30px;
    margin-bottom: 10px;
}

.weather h1 {
    color: #424242;
    font-size: 3em;
    font-family: sans-serif;
    font-weight: normal;
}

.weekly-weather {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.weekly-day-weather {
    display: flex;
    flex-direction: column;
    text-align: end;
    color: #ababab;
}

.latest-news {
    margin-top: 50px;
    margin-left: 20px;
}

.latest-news-head {
    font-family: sans-serif;
    font-size: 20px;
    padding: 0px 20px;
    color: black;
    border-bottom: 0.4px solid #ababab;
    margin-bottom: 10px;
}

.latest-news-more {
    float: right;
}

.latest-news-points {
    display: flex;
    flex-direction: row;
    color: #ababab;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.latest-news-points img {
    float: left;
    height: 100px;
    padding-left: 20px;
}

.latest-news-points h4 {
    margin-top: 5px;
    color: #ababab;
    padding-left: 20px;
}

.latest-news-points p {
    margin-bottom: 0px;
    padding-left: 20px;
}

footer {
    height: 10%;
    border-top: 0.2px solid #ababab;
    border-bottom: 0.2px solid #ababab;
    box-shadow: 0px 7px 5px -5px #ababab;
    margin-bottom: 20px;
}

footer a {
    display: inline-block;
    color: #ababab;
    padding: 10px 50px;
}

@media screen and (max-width: 804px) {
    .head-container {
        width: 100%;
    }
    header img {
        width: 10%;
        height: 80%;
    }
    .main-image img {
        height: 30%;
    }
    .main-image {
        height: 250px;
    }
    .main-image img {
        height: 300px;
    }
    .main-image-text {
        position: absolute;
        top: 70%;
    }
}

@media screen and (max-width: 599px) {
    .head-container {
        width: 100%;
    }
    header img {
        width: 10%;
        height: 30%;
        float: left;
    }
    .main-image-with-weather {
        position: relative;
    }
    .app-heading {
        width: 100%;
        font-size: 40px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .main-image {
        padding: 0px;
        height: 250px;
        width: 60vw;
        top: 0;
        left: 0;
    }
    .main-image img {
        height: 250px;
    }
    .main-image-text {
        position: absolute;
        opacity: .9;
        background-color: rgba(0, 0, 0, 0.486);
        top: 30%;
        margin-bottom: 5%;
    }
    .city-weekly-weather {
        position: absolute;
        width: 40vw;
        top: 0;
        right: 0;
    }
    .city-weather {
        margin-left: 10px;
    }
    .city-name {
        color: #8b8888;
        font-family: sans-serif;
        padding: 10px;
        font-size: 1em;
    }
    .name {
        font-size: 1.5em;
        margin-bottom: -15px;
    }
    .weather {
        display: flex;
        justify-content: flex-start;
        flex-flow: row wrap;
        margin-left: 10px;
        margin-bottom: 0px;
    }
    .weather img {
        height: 15vw;
        width: 20vw;
    }
    .weather h1 {
        color: #424242;
        font-size: 1.5em;
        font-family: sans-serif;
        font-weight: normal;
    }
    .weekly-weather {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .weekly-day-weather {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        text-align: end;
        color: #ababab;
    }
    .weekly-day-weather img {
        width: 50%;
    }
    footer a {
        padding: 5px 50px;
    }
}

@media screen and (max-width: 480px) {
    .head-container {
        width: 100%;
    }
    header img {
        width: 15%;
        height: 30%;
        float: left;
    }
    .main-image-with-weather {
        position: unset;
    }
    .app-heading {
        width: 100%;
        font-size: 30px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .main-image {
        padding: 0px;
        height: 250px;
        width: 100%;
    }
    .city-weekly-weather {
        position: unset;
        width: 100%;
    }
    .city-weather {
        margin-left: 20px;
    }
    .weekly-day-weather {
        display: flex;
        flex-direction: column;
        font-size: 0.8em;
        text-align: end;
        color: #ababab;
    }
    .weekly-weather img {
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .head-container {
        width: 100%;
    }
    header img {
        width: 15%;
        height: 30%;
        float: left;
    }
    .app-heading {
        width: 90%;
        font-size: 20px;
        margin-top: 20px;
        margin-left: 0px;
    }
    .menu {
        flex-direction: column;
    }
    .weekly-weather img {
        width: 100%;
    }
}